@model SAGERPNEW2018.Models.ReportModel

@{
    ViewBag.Title = "Trial Balance Report";
}



<header class="page-header">
    <h2> @ViewBag.Title</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Reports</span></li>
            <li><span>@ViewBag.Title</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>


<div class="panel">
    <!-- start: page -->
    <div class="row">
        <div class="col-md-12">


            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">@ViewBag.Title</h2>
                    <p class="panel-subtitle">
                        Form control for @ViewBag.Title data .
                    </p>
                </header>
                <div class="panel-body">



                    <div class="row">

                        <div class="col-md-2">

                            <label>From Date <span class="required">*</span></label>

                            @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control ", @required = "required" })

                        </div>


                        <div class="col-md-2">

                            <label>TO Date <span class="required">*</span></label>

                            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control ", @required = "required" })


                        </div>


                        <div class="col-md-2">

                            <label>COA Level</label>

                            <select id="Lev" class = "form-control ">
                                <option selected="selected" value="0">All</option>
                                <option value="1">1</option>
                                <option value="3">2</option>
                                <option value="5">3</option>
                                <option value="7">4</option>
                                <option value="9">5</option>
                               
                            </select>


                        </div>


                        <div class="col-md-3">

                            <button style="margin-top: 24px;" type="button" id="Show" onclick="loaddata()" class="btn  btn-primary"> <span class="glyphicon glyphicon-search"></span> Show</button>

                            @if (Model.IsPrint)
                            {
                                <button style="margin-top: 24px;" type="submit" id="Add" onclick="viewpdf()" class="btn  btn-success"> <span class="glyphicon glyphicon-print"></span>   Print</button>
                            }


                        </div>


                    </div>


                    <div class="row">






                        <div class="col-md-12">

                            <h3>@ViewBag.Title</h3>

                            <div id="docdetail" style="height: auto;overflow-y:auto;overflow-x:auto;">
                                <table class="table table-bordered table-striped mb-none table-hover" id="datatable2">

                                    @*<table style="margin-bottom:0px;" id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-hover table-responsive ">*@
                                    <thead>
                                        <tr>
                                            <th> <strong>Account No</strong> </th>
                                            <th > <strong>Account Name</strong></th>
                                            <th width="100"><strong>Opening Dr</strong></th>
                                            <th width="100"><strong>Opening Cr </strong></th>
                                            <th width="100"><strong>Dr </strong></th>
                                            <th width="100"><strong>Cr </strong></th>


                                        </tr>
                                    </thead>
                                    <tbody id="DocmentBodyID">

                                        @{



                                        }


                                    </tbody>
                                </table>

                            </div>





                        </div>

                    </div>

                </div>
                <footer class="panel-footer"></footer>
            </section>

        </div>

    </div>

</div>





<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>



<script>

    $(document).ready(function () {

        //$("input[type=text]").focus(function () {
        //    $(this).select();
        //});


        $("#DateFrom").datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayBtn: true,


        });

        $("#DateTo").datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayBtn: true,


        });


        $('#DateFrom').datepicker('setDate', new Date());
        $('#DateTo').datepicker('setDate', new Date());


    });


    function loaddata() {


        var Data = { DateFrom: $('#DateFrom').val(), DateTo: $("#DateTo").val() }
        $.ajax({
            async: false,
            url: "/SystemReport/LoadtrialBalance",
            data: Data,
            success: function (data) {


                console.log(data)

                if (data != '') {



                    var totalOpdr = 0;
                    var totalOpcr = 0;
                    var totalDR = 0;
                    var totalCR = 0;

                    var name = '';

                    var html = '';
                    for (var i = 0; i < data.length; i++) {

                        html += '<tr>'

                        //if (name == '') {
                        //    html += '<td>' + data[i].PaymentNo + '</td>'
                        //    name = data[i].PaymentNo;
                        //}
                        //else if (name != data[i].PaymentNo) {
                        //    html += '<td>' + data[i].PaymentNo + '</td>'
                        //    name = data[i].PaymentNo;

                        //}
                        //else {

                        //    html += '<td></td>'
                        //}
                        html += '<td>' + data[i].accountno + '</td>'
                        html += '<td>' + data[i].accountname  + '</td>'
                        html += '<td style="text-align: right;">' + data[i].opdebit + '</td>'
                        html += '<td style="text-align: right;">' + data[i].opcredit + '</td>'
                        html += '<td style="text-align: right;">' + data[i].movdebit + '</td>'
                        html += '<td style="text-align: right;">' + data[i].movcredit + '</td>'

                        html += '</tr>'
                        totalOpdr = parseFloat(totalOpdr) + parseFloat(data[i].opdebit)
                        totalOpcr = parseFloat(totalOpcr) + parseFloat(data[i].opcredit)
                        totalDR = parseFloat(totalDR) + parseFloat(data[i].movdebit)
                        totalCR = parseFloat(totalCR) + parseFloat(data[i].movcredit)



                    }
                    html += '<tr><td></td><td><strong> Total :</strong> </td><td style="text-align: right;"><strong> ' + totalOpdr + '</strong> </td>   <td style="text-align: right;"><strong>  ' + totalOpcr + '</strong></td><td style="text-align: right;"><strong>' + totalDR + '</strong></td><td style="text-align: right;"><strong>' + totalCR + '</strong></td></tr>'

                    $('#DocmentBodyID').html(html);
                }
                else {

                    bootbox.alert('Record Not Found')
                }

            },
            error: function () {
                ReturnValue = false;
                alert("Error")
            }
        })




    }




    function viewpdf() {
        var id = "" + $('#DateFrom').val() + "|" + $('#DateTo').val() + "|" + $('#Lev').val() + " "
        //   window.open('/SystemReport/GetRecoveryReport/?data=' + id + '   ', '_blank');
        window.location.href = '/SystemReport/GetTrialBalanceReport/?data=' + id + '';


    }


</script>





