@model HRandPayrollSystemModel.DBModel.tblEmployee

@{
    ViewBag.Title = "Employee Status";
}





@using (@Html.BeginForm("EmployeeStatusUpdate", "Employee", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    if (Model.EmployeeID > 0)
    {
        if (Model.IsView)
        {
            ViewBag.Title = ViewBag.Title + " View";
        }
        else
        {
            ViewBag.Title = ViewBag.Title + " Edit";
        }

    }
    else
    {

        ViewBag.Title = ViewBag.Title + " Create";

    }

    <header class="page-header">
        <h2>@ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/home/index">

                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>@ViewBag.Title</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">

                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">@ViewBag.Title</h2>
                        <p class="panel-subtitle">
                            Form control for input @ViewBag.Title data .
                        </p>
                    </header>
                    <div class="panel-body">

                        @Html.HiddenFor(model => model.EmployeeID)
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Employee Status <span class="required">*</span></label>

                         
                            <div class="col-sm-6 ">
                                @Html.DropDownListFor(model => model.EmployeeStatus, Model.LoadEmployeStatus(), new { @class = "form-control selectpicker ", @required = "required", @onchange = "loadDesignation()" })


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Employee Clearance <span class="required">*</span></label>


                            <div class="col-sm-6 ">
                                @Html.DropDownListFor(model => model.EmpClearanceStatus, Model.LoadEmployeClearStatus(), new { @class = "form-control selectpicker ", @required = "required", @onchange = "loadDesignation()" })


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date Of <span class="required">*</span></label>
                            <div class="col-sm-6 ">
                  
                                @Html.TextBoxFor(model => model.EmployeeStatusDate, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Reason / Remarks <span class="required">*</span></label>
                            <div class="col-sm-6 ">

                                @Html.TextAreaFor(model => model.RemarksStatus, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Asset info (discuss)</label>
                            <div class="col-sm-9 ">
                               @* @Html.CheckBoxFor(model => model.inactive)*@
                                @*<input id="Inactive" name="Inactive" type="checkbox" value="@Model.Inactive" />*@
                            </div>
                        </div>


                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
        </div>
    </div>

}


<script>




    function postform() {
        var ReturnValue = true



        $("#myform").validate();




        bootbox.confirm("Are sure to save data!", function (result) {
            if (result) {
                if (ReturnValue) {
                    $("#myform").submit();

                }

            }
        });


    }
    $(document).ready(function () {
       // $('#Myform :input').select()

        $('.selectpicker').selectpicker('selectAll');
        
        $("#EmployeeStatusDate").datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayBtn: true,


        });
        var Dateof = '@Model.EmployeeStatusDate.Value.Day' + '/' + '@Model.EmployeeStatusDate.Value.Month' + '/' + '@Model.EmployeeStatusDate.Value.Year';



        $('#EmployeeStatusDate').datepicker('setDate', Dateof);

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }

    });


</script>


